* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
}

.cm-scroller::-webkit-scrollbar,
.scroll-bar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.cm-scroller::-webkit-scrollbar-thumb,
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 10px;
}

.cm-scroller::-webkit-scrollbar-track,
.scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0, 30%);
  background-color: #f5f5f5;
}

.ant-modal-content {
  border-radius: 15px !important;
}

.ant-modal-header {
  border-radius: 15px 15px 0px 0px !important;
}
